*.gen.*
.godot/

project/bin/*
!project/bin/linux
project/bin/linux/*
!project/bin/linux/.gitkeep

*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp
*.log
*.editorconfig
*.sconsign.dblite

compile_commands.json

/src/gen

.vscode/
.idea/

!project/addons/**
